* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.form_box {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 15px;
    height: 2.5em;
    margin-top: 25px;
}